body {
    font-style: $font;
    color: $textcolor;
    font-size: 15px;
}

.section {
    position: relative;
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 95px;
    margin-bottom: 30px;
    line-height: 35px;
    width: 300px;
    @extend %line;

    &:after {
        margin-left: 0;
        margin-top: 35px;
        width: 50px;
    }
}

.paragraph {
    line-height: 24px;
    margin: 0 auto;
    text-align: center;    
    max-width: 600px;
}

.sc-title {
    text-transform: uppercase;
    text-align: center;    
    line-height: 35px;    
    font-size: 28px;
    font-weight: bold;
    margin-top: 55px;
    margin-bottom: 15px;
    @extend %line;
}

a {
    color: unset;
    text-decoration: none;
}

strong{
    font-weight: bold;
}

@keyframes fall {
    0%  { top: 50%; }
    50% { top: 150%; left: 50%;}
    51% { left: -200%; }
    52% { top: -150%; left: -200%; }
    53% { left: 50%; top: -150% }
    100%{ top: 50%; }
}