.section-services {
    .svg {
        width: 60px;
        height: 50px;
        fill: $secondarycolor;

        &-i {
            width: 13px;
            height: 13px;
            fill: $textcolor;
            border: $primarycolor 2px solid;
            border-radius: 50%;
            padding: 8px;
        }
    }

    .item-wrap { 
        margin: 65px auto;
        margin-bottom: 50px;
        position: relative;
        justify-content: center;
        margin-left: 200px;         
        border-right: 2px dotted $bgcolor;    

        .svg, .svg-i {
            position: absolute;
            transition: fill $time;
            cursor: pointer;
        }

        .svg {
            top: 0;
            transform: translateX(-120%);
        }

        .svg-i {
            top: 0;
            right: 0;
            transform: translateX(-220%);
        }
    }

    .services {
        &-title {
            text-transform: uppercase;
            font-weight: 900;
            width: 80%;
            font-style: $fontBold;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 30px;
        }

        &-subtitle, &-list {
            font-size: 13px;
            line-height: 20px;            
            width: 80%;

            li {
                padding-left: 20px;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 6px;
                    transform: translateX(-18px);
                    width: 3px;
                    height: 3px;
                    border: $primarycolor 2px solid;
                    border-radius: 50%;
                }
            }
        }

        &-item {
            width: 50%;
            border-bottom: 2px dotted $bgcolor;         

            &:hover {
                .svg {
                    fill: $primarycolor;
                
                    &-i {
                        background-color: $primarycolor;
                        fill: $textbtncolor;
                    }
                }
            }
        }

        &-wrap {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            border-top: 2px solid $bgcolor;
            border-bottom: 2px solid $bgcolor;
            margin-top: 55px;
        }
    }
}