//	VARIABLES //

// Animation
$time: .3s;

// Colors
$bgcolor: #f5f5f5;
$textcolor: #000000;
$textbtncolor: #ffffff;
$primarycolor: #a70c5d;
$secondarycolor: #dfdfe2;

// Fonts
$font: 'GothamPro';
$fontBlack: 'GothamProBlack';
$fontBold: "GothamProBold";
$fontMedium: 'GothamProMedium';
