<div class="footer-caption">
    <strong>pravo agency:</strong>
</div>

<address class="agency">
    <div class="agency-address">01001, Киев, ул.Костёльная 9, оф.8</div>
    <div class="agency-phone">+380 (67) 324 10 10</div>
    <div class="agency-email">hello@pravo.agency</div>

    <div class="agency-network">
            <a class="network-link" href="https://www.facebook.com/Pravo.agency/" target="_blank">
                <svg class="svg">
                    <use xlink:href="./img/svgSprite.svg#facebook"></use>
                </svg>   
            </a>
            <a class="network-link" href="https://twitter.com" target="_blank">
                <svg class="svg">
                    <use xlink:href="./img/svgSprite.svg#twitter"></use>
                </svg>   
            </a>
            <a class="network-link" href="https://www.instagram.com" target="_blank">
                <svg class="svg">
                    <use xlink:href="./img/svgSprite.svg#instagram"></use>
                </svg>   
            </a>
    </div>

    <div class="agency-copyright">&#9400; 2015, 
        <strong>Pravo agency</strong>
    </div>
</address>