<!-- HEADER -->
<header class="entry-header">
    <a class="header-logo" href="#home">
        <img src="img/logo.png" alt="Logo">
    </a>
    
    <div class="wrap-nav">
        <nav class="header-nav">
            <ul class="nav">
                <li class="nav-item"><a href="#services">услуги и цены</a></li>
                <li class="nav-item"><a href="#testimonial">отзывы</a></li>
                <li class="nav-item"><a href="#footer">контакты</a></li>
            </ul>
        </nav>
            
        <div class="lang js_lang-switcher">
            <div class="lang-wrap">
                <input type="checkbox" class="lang-checkbox">
                <label class="label">
                    <span class="label-item">en</span>
                    <span class="label-item">ru</span>
                </label>
            </div>
        </div>
    </div>
</header>
<div class="top-content">
    <div class="light">
        <h1 class="title">Правовое сопровождение малого ИТ-бизнеса</h1>
        <p class="paragraph">
            Зачастую интернет-проекты, разработчики, маркетологи, 
            дизайнеры, стартаперы и другие IT-специалисты не уделяют 
            должного внимания правовым аспектам своей деятельности.
        </p>
        <p class="paragraph">
            Но 
            <strong>документы должны быть в порядке</strong>
            , и мы в этом поможем.
        </p>
        <a href="#services">
            <button class="btn btn-primary">
                <div class="wrap-svg">
                    <svg class="svg">
                        <use xlink:href="./img/svgSprite.svg#arrow"></use>
                    </svg>   
                </div>         
                <span>услуги и цены</span>
            </button>
        </a>
    </div>
</div>

<img src="img/man.png" class="top-man" alt="Mike from serial Suits">

<button class="btn btn-secondary">
    <svg class="svg svg-play">
        <use xlink:href="./img/svgSprite.svg#triangle"></use>
    </svg> 
</button>