<h2 class="sc-title">услуги и цены</h2>

<p class="paragraph">
    <strong>Pravo agency</strong>
    выполняет роль юристов-аутсорсеров, надежно 
    прикрывая правовой тыл вашей деятельности.
</p>

<div class="services-wrap">
    <div class="services-item" data-position="top">
        <div class="item-wrap" data-position="left">
            <svg class="svg">
                <use xlink:href="./img/svgSprite.svg#documents"></use>
            </svg>   
            <h3 class="services-title">Наведение порядка <br>в делах</h3>
            <div class="services-subtitle">Аудит документов и платежей на предмет:</div>
            <ul class="services-list">
                <li>cоблюдения необходимых формальностей и процедур, </li>
                <li>наличия всех оригиналов договоров, актов,</li>
                <li>легализация зависших платежей.</li>
            </ul>

            <svg class="svg-i">
                    <use xlink:href="./img/svgSprite.svg#i"></use>
            </svg>
        </div>
    </div>

    <div class="modal" data-position="right">
        <div class="modal-service">
            <div class="service-caption">услуга</div>
            <div class="service-content">
                <h3 class="service-title">Оптимизация <br>договорных отношений</h3>

                <p class="service-description">
                    Борьба внутри меня, и я был в самых разных 
                    ситуациях в моей жизни. 
                    <strong>
                        Таким образом, борьба, что 
                        у меня на постоянной основе, это просто пробовать 
                        и быть лучше. 
                    </strong>
                </p>

                <p class="service-description">
                    Есть определенная разница между публичным человеком и 
                    обычным человеком, это как сойти с ума - для меня во 
                    всяком случае - открыть себя целиком для всего мира. 
                </p>
            </div>
        </div>
        
        <div class="modal-price">
            <div class="price-caption">цена</div>
            <div class="price-content">
                <div class="price-item">
                    <div class="worker">
                        <div class="worker-number">&#60; 50</div>
                        <span class="worker-text">Сотрудников</span>
                    </div>

                    <div class="cost">
                        <span>от</span>
                        <span class="cost-price">5000грн</span>
                    </div>
                </div>

                <div class="price-item">
                    <div class="worker">
                        <div class="worker-number">50-100</div>
                        <span class="worker-text">Сотрудников</span>
                    </div>

                    <div class="cost">
                        <span>от</span>
                        <span class="cost-price">15000грн</span>
                    </div>
                </div>
                
                <div class="price-item">
                    <div class="worker">
                        <div class="worker-number">&#62; 100</div>
                        <span class="worker-text">Сотрудников</span>
                    </div>

                    <div class="cost">
                        <span>от</span>
                        <span class="cost-price">25000грн</span>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary">Заказать</button>
    </div>

    <div class="services-item" data-position="top">
        <div class="item-wrap" data-position="right">
            <svg class="svg">
                <use xlink:href="./img/svgSprite.svg#target"></use>
            </svg>   
            <h3 class="services-title">Оптимизация <br>договорных отношений</h3>
            <ul class="services-list">
                <li>Доработка, латание дыр и улучшение условий основных 
                    типовых договоров вашей компании</li>
                <li>Оформление сотрудников на оптимальных условиях ведения 
                    деятельности и налогообложения</li>
                <li>Составление договоров, соглашений о конфиденциальности, публичных офферт</li>
            </ul>

            <svg class="svg-i">
                    <use xlink:href="./img/svgSprite.svg#i"></use>
            </svg>
        </div>
    </div>

    <div class="modal" data-position="left">
        <div class="modal-service">
            <div class="service-caption">услуга</div>
            <div class="service-content">
                <h3 class="service-title">Оптимизация <br>договорных отношений</h3>

                <p class="service-description">
                    Борьба внутри меня, и я был в самых разных 
                    ситуациях в моей жизни. 
                    <strong>
                        Таким образом, борьба, что 
                        у меня на постоянной основе, это просто пробовать 
                        и быть лучше. 
                    </strong>
                </p>

                <p class="service-description">
                    Есть определенная разница между публичным человеком и 
                    обычным человеком, это как сойти с ума - для меня во 
                    всяком случае - открыть себя целиком для всего мира. 
                </p>
            </div>
        </div>
        
        <div class="modal-price">
            <div class="price-caption">цена</div>
            <div class="price-content">
                <div class="price-item">
                    <div class="worker">
                        <div class="worker-number">&#60; 50</div>
                        <span class="worker-text">Сотрудников</span>
                    </div>

                    <div class="cost">
                        <span>от</span>
                        <span class="cost-price">5000грн</span>
                    </div>
                </div>

                <div class="price-item">
                    <div class="worker">
                        <div class="worker-number">50-100</div>
                        <span class="worker-text">Сотрудников</span>
                    </div>

                    <div class="cost">
                        <span>от</span>
                        <span class="cost-price">15000грн</span>
                    </div>
                </div>
                
                <div class="price-item">
                    <div class="worker">
                        <div class="worker-number">&#62; 100</div>
                        <span class="worker-text">Сотрудников</span>
                    </div>

                    <div class="cost">
                        <span>от</span>
                        <span class="cost-price">25000грн</span>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary">Заказать</button>
    </div>

    <div class="services-item" data-position="bottom">
        <div class="item-wrap" data-position="left">
            <svg class="svg">
                <use xlink:href="./img/svgSprite.svg#note"></use>
            </svg>   
            <h3 class="services-title">Правовое сопровождение деятельности (юрист-аутсорсер)</h3>
            <ul class="services-list">
                <li>Участие в заключении договоров: минимизация рисков, усиление ваших позиций</li>
                <li>Юридическая консультация</li>
                <li>Дайджест предпринимательских ИТ-новостей с разъяснениями</li>
                <li>Представительство интересов в судах</li>
            </ul>

            <svg class="svg-i">
                    <use xlink:href="./img/svgSprite.svg#i"></use>
            </svg>
        </div>
    </div>

    <div class="modal" data-position="right">
        <div class="modal-service">
            <div class="service-caption">услуга</div>
            <div class="service-content">
                <h3 class="service-title">Оптимизация <br>договорных отношений</h3>

                <p class="service-description">
                    Борьба внутри меня, и я был в самых разных 
                    ситуациях в моей жизни. 
                    <strong>
                        Таким образом, борьба, что 
                        у меня на постоянной основе, это просто пробовать 
                        и быть лучше. 
                    </strong>
                </p>

                <p class="service-description">
                    Есть определенная разница между публичным человеком и 
                    обычным человеком, это как сойти с ума - для меня во 
                    всяком случае - открыть себя целиком для всего мира. 
                </p>
            </div>
        </div>
        
        <div class="modal-price">
            <div class="price-caption">цена</div>
            <div class="price-content">
                <div class="price-item">
                    <div class="worker">
                        <div class="worker-number">&#60; 50</div>
                        <span class="worker-text">Сотрудников</span>
                    </div>

                    <div class="cost">
                        <span>от</span>
                        <span class="cost-price">5000грн</span>
                    </div>
                </div>

                <div class="price-item">
                    <div class="worker">
                        <div class="worker-number">50-100</div>
                        <span class="worker-text">Сотрудников</span>
                    </div>

                    <div class="cost">
                        <span>от</span>
                        <span class="cost-price">15000грн</span>
                    </div>
                </div>
                
                <div class="price-item">
                    <div class="worker">
                        <div class="worker-number">&#62; 100</div>
                        <span class="worker-text">Сотрудников</span>
                    </div>

                    <div class="cost">
                        <span>от</span>
                        <span class="cost-price">25000грн</span>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary">Заказать</button>
    </div>

    <div class="services-item"data-position="bottom">
        <div class="item-wrap" data-position="right">
            <svg class="svg">
                <use xlink:href="./img/svgSprite.svg#court"></use>
            </svg>   
            <h3 class="services-title">Разработка договоров и другой документации</h3>
            <div class="services-list">
                К сожалению, конфликты бывают в любой сфере. 
                Если дело близится к суду или уже дошло до него, мы поможем отстоять
                ваши права и интересы.
            </div>

            <svg class="svg-i">
                    <use xlink:href="./img/svgSprite.svg#i"></use>
            </svg>
        </div>
    </div>

    <div class="modal" data-position="left">
        <div class="modal-service">
            <div class="service-caption">услуга</div>
            <div class="service-content">
                <h3 class="service-title">Оптимизация <br>договорных отношений</h3>

                <p class="service-description">
                    Борьба внутри меня, и я был в самых разных 
                    ситуациях в моей жизни. 
                    <strong>
                        Таким образом, борьба, что 
                        у меня на постоянной основе, это просто пробовать 
                        и быть лучше. 
                    </strong>
                </p>

                <p class="service-description">
                    Есть определенная разница между публичным человеком и 
                    обычным человеком, это как сойти с ума - для меня во 
                    всяком случае - открыть себя целиком для всего мира. 
                </p>
            </div>
        </div>
        
        <div class="modal-price">
            <div class="price-caption">цена</div>
            <div class="price-content">
                <div class="price-item">
                    <div class="worker">
                        <div class="worker-number">&#60; 50</div>
                        <span class="worker-text">Сотрудников</span>
                    </div>

                    <div class="cost">
                        <span>от</span>
                        <span class="cost-price">5000грн</span>
                    </div>
                </div>

                <div class="price-item">
                    <div class="worker">
                        <div class="worker-number">50-100</div>
                        <span class="worker-text">Сотрудников</span>
                    </div>

                    <div class="cost">
                        <span>от</span>
                        <span class="cost-price">15000грн</span>
                    </div>
                </div>
                
                <div class="price-item">
                    <div class="worker">
                        <div class="worker-number">&#62; 100</div>
                        <span class="worker-text">Сотрудников</span>
                    </div>

                    <div class="cost">
                        <span>от</span>
                        <span class="cost-price">25000грн</span>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary">Заказать</button>
    </div>
    
</div>