<h2 class="sc-title">отзывы</h2>

<p class="paragraph">
    Мнение наших клиентов 
    <strong>делает мир и нас лучше :)</strong>
</p>

<div class="quote-wrap">
    <div class="quote-item">
        <svg class="svg">
            <use xlink:href="./img/svgSprite.svg#quote"></use>
        </svg>   
        <blockquote class="quote">
                Главная тема для меня – любовь. 
                Мы все хотим ее, но не знаем как получить, 
                поэтому все, что мы делаем, — это всего лишь 
                попытки найти счастье.
                
                <cite>
                    <figure>
                        <img class="quote-photo" src="photo/face1.jpg" alt="Алексей Фёдоров">
                        <figcaption>
                            <div class="author">Алексей Фёдоров</div>
                            <div class="work">
                                <span class="position">CEO</span>
                                <a href="https://deco.agency/" target="_blank" class="company">deco.agecy</a>
                            </div>
                        </figcaption>
                    </figure>
                </cite>
        </blockquote>
    </div>

    <div class="quote-item">
        <svg class="svg">
            <use xlink:href="./img/svgSprite.svg#quote"></use>
        </svg>   
        <blockquote class="quote">
                Главная тема для меня – любовь. 
                Мы все хотим ее, но не знаем как получить, 
                поэтому все, что мы делаем, — это всего лишь 
                попытки найти счастье.
                
                <cite>
                    <figure>
                        <img class="quote-photo" src="photo/face2.jpg" alt="Артур Оруджалиев">
                        <figcaption>
                            <div class="author">Артур Оруджалиев</div>
                            <div class="work">
                                <span class="position">CEO</span>
                                <a href="https://ain.ua/" class="company" target="_blank">AIN.ua</a>
                            </div>
                        </figcaption>
                    </figure>
                </cite>
        </blockquote>
    </div>

    <div class="quote-item">
        <svg class="svg">
            <use xlink:href="./img/svgSprite.svg#youtube"></use>
        </svg>   
        <blockquote class="quote">
                <div class="quote-video">
                    <button class="btn-secondary">
                            <svg class="svg">
                                <use xlink:href="./img/svgSprite.svg#play"></use>
                            </svg> 
                    </button>
                </div>
            
                <cite>
                    <figure>
                        <figcaption>
                            <div class="author">Григорий Маленко</div>
                            <div class="work">
                                <span class="position">CEO</span>
                                <a href="https://serm.ua/" class="company" target="_blank">SERM.ua</a>
                            </div>
                        </figcaption>
                    </figure>
                </cite>
        </blockquote>
    </div>
</div>

<div class="more">
    <div class="more-wrap">
        <svg class="svg">
            <use xlink:href="./img/svgSprite.svg#load"></use>
        </svg> 
        Загрузить еще
    </div>
</div>